@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --gray: #2e2e2e;
  --text: #78849E;
  --orange: #F9B951;
  --red: #BB0000;
}

::-webkit-scrollbar {
  width: 4px; 
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}